* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

header {
  display: flex;
  height: 80px;
  padding: 20px;
}

.wrapper {
  width: 80%;
  margin: auto;
  height: 1700px,
}

a {
  text-decoration: none;
}

img {
  width: 90%;
  vertical-align: middle;
}

.relative {
  position: relative;
}

.text_right {
  text-align: right;
}

.dark_grey {
  color: darkgrey;
}

.black {
  color: black;
}

.inline_block li {
  display: inline-block;
  line-height: 80px;
}


.flex_item_1 {
  width: 35%;
  height: 80px;
  padding: 10px;
}
.flex_item_2 {
  width: 65%;
  height: 80px;
  padding: 10px;
}

.flex_item_1 ul li {
  width: 30%;
  text-transform: uppercase;
  padding: 0 10px;
}

.flex_item_2 ul li a {
  padding: 0 15px;
  color: darkgrey;
}

#btn {
  background-color: #EB008D;
  height: 50px;
  padding: 15px 25px;
  border-radius: 30px;
  color: white;
}

#btn:hover {
  background-color: rgb(210, 0, 126);
  transition: .5s,
}

#arrow {
  font-size: .8em;
  margin-left: 5px;
}

a:hover #arrow {
  display: inline-block;
  transform: rotate(180deg);
  transition: .4s;
}

.dropdown {
  right: -20px;
  width: 135px;
}

.dropdown li,
.dropdown_product li,
.dropdown_company li,
.dropdown_help li,
.dropdown_it li {
  line-height: 50px;
}

.flex_item_2 ul li:hover a {
  color: black;
}

.dropdown_product {
  width: 300px;
  right: -100px;
}

.dropdown.active,
.dropdown_product.active,
.dropdown_company.active,
.dropdown_help.active,
.dropdown_it.active {
  display: flex;
}

.dropdown_company {
  width: 180px;
  right: -50px;

}

.dropdown_help {
  right: -70px;
  width: 200px;
}

.dropdown_it {
  width: 120px;
  right: -30px;
}

.dropdown_all {
  position: absolute;
  flex-direction: column;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
  color: #858285;
  text-align: left;
  padding: 0 30px;
}
